div #block{
  width: 65px;
  height: 57px;
  font-size:58px;
  background-color: black;
  position: relative;
  animation-name: first_ani;
  animation-duration: 37s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
  animation-timing-function: linear;
  animation-play-state: paused;
  /*border: solid 1px white;*/
}

@keyframes first_ani {
  0%   {color:#33ccff;left:0px; top:0px;}
  6%  { color:#00b8e6;left:38%; top:225px; }
  9% {color:Cyan; left:38%; top:113px;}
  11% {color:DarkBlue; left:28%; top:124px;}
  14% {color:#00b8e6; left:28%; top:0px;}
  18% {color:#1a75ff; left:48%; top: 10px;}
  21% {color:Indigo; left: 48%; top: 113px;}
  25%  {color:#0052cc; left:76%; top:0px;}
  29% {color: #0066cc; left:85%; top: 225px;}
  33% {color:Cyan; left: 93%; top: 5px;}
  37% {color:#8080ff; left: 93%; top: 345px;}
  40% {color:blue; left:80%; top:315px;}
  46% {color:#0000cc; left:93%; top:420px;}
  50%  {color: #4da6ff; left:73%; top:440px;}
  56% {color:cyan; left: 73%; top: 170px;}
  61% {color: #0099cc; left: 33%; top:420px;}
  65% {color:Indigo; left: 70%; top: 420px;}
  72% {color:#4dd2ff; left: 20%; top: 440px;}
  76%  {color: #1a75ff; left:33%; top:233px;}
  80% {color:#0047b3; left: 3%; top: 297px;}
  84% {color: #00a3cc; left: 0%; top: 203px;}
  88% {color:#66e0ff; left:20%; top: 203px;}
  93% {color: #4d4dff; left: 20%; top: 440px;}
  100% {color:#33adff; left:0px; top:0px;}
}

#container
{
  background-color:black;
  border: solid 5px cyan;
  margin:auto;
  margin-top:13px;
}
div #block:hover 
{
  cursor:pointer;
  text-shadow: 0 0 10px #03e9f4,
              0 0 25px #03e9f4;
}
#score{display:none;
background-color:#03e9f4;color:black;padding:10px;}
#timer{margin-left:50px;}
#op_time:hover{cursor:not-allowed;}
#reset {margin-left:30px;}
#d {margin-left:15%;}
/*--------customizable-----*/
body {
  font-family: 'Nova Square', cursive;
  margin:20px;
  background: linear-gradient(#141e30, #243b55);
  color: #00e6e6;
  font-size:16px;
}
ul {list-style-type: square;}
#rule
{
  border: 4px solid #004d4d;
  padding:6px;
  border-radius:13px;
  padding-left:25px;
  margin-top:50px;
}
#header:hover
{
  transform: rotate(360deg);
  border:solid 3px #03e9f4;
}
#header{
  transition:5s;
  display:inline-block;
  box-shadow: 10px 10px 10px black;
  padding-right:20px;
  margin-bottom:20px;
  margin-top:10px;
}

#rule:hover
{
  border-color:#00e6e6;
  background-color:black;
}
input[type="button"]
{
  background-color:#141e30;
  color:#03e9f4;
  padding: 8px 16px;
  text-align: center;
  font-family: monospace;
  border:solid 1px;
  border-radius: 5px;
}
#abt{
  background-color:black;
  color:#03e9f4;
  padding: 8px 16px;
  text-align: center;
  cursor:pointer;
  border:solid 1px;
  border-radius: 5px;
}
#pause_btn{margin-left:30px;}
input[type="button"]:hover
{
  background: #03e9f4;
  color: #fff;
  
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}
input[type="text"],input[type="number"]
{
  background-color:black;
  color:white;
  border:1px solid #03e9f4;
}
#diff,.setbutt
{
  background-color:black;
  color:#03e9f4;
}
.nlink {color:#03e9f4;text-decoration:none;}
.nlink:visited{color:red;}
.nlink:hover{text-decoration:underline;}


p{font-size:18px;}

#bg{position:fixed;
bottom:0;right:0;
 width:15%;
 height:30px;
}
/*--------settings--------*/
#settings{
  margin-left:800px;
  z-index:1;
  height:1335px;
  /* height:100vh; */
  border:solid 2px #03e9f4;;
  position:absolute;
  top:0;right:0;
  background-color: black;
  width:425px;
  display:none;
  overflow-y:auto;
  border-right: none;
}
#s:hover{
  text-shadow: 0 0 5px #03e9f4,
              0 0 15px #03e9f4,
              0 0 30px #03e9f4,
              0 0 50px #03e9f4;
  color: #fff;
}
#bgvol{width:200px;}
#bgvol:hover{cursor:grab;}
